<div>
    Mash:</br>
    <label>
        Enter mash time: 
        <input class="num-input" type="text" name="mashTime"/>
    </label>
    <label>
        Enter mash temp(degrees C):
        <input class="num-input" type="text" name="mashTemp"/>
    </label>
</div>
<label>
    Boil Time:
    <input class="num-input" type="text" name="boilTime" />
</label>
<div>
    <label>
        OG:
        <input class="num-input" type="text" name="og" />
    </label>
    <label>
        FG:
        <input class="num-input" type="text" name="fg" />
    </label>
    <label>
        abv(%):
        <input class="num-input" type="text" name="abv" />
    </label>
</div>
<div>
    <label>
        IBU
        <input class="num-input" type="text" name='ibu' />
    </label>
    <label>
        SRM
        <input class="num-input" type="text" name='srm' />
    </label>
</div>
<input type="submit">