<ul>
{{#each grains}}
  <li>{{name}}</li>
{{/each}}
</ul>

<a href="/recipes">View our list of recipes</a>
<a href="/hops-list">Click here for list of hops</a>
<a href="/yeast-list">Click here for list of yeast</a>
<a href="/">HOME</a>