<ul>
{{#each hops}}
  <li>{{name}} <em>({{country}})</em></li>
{{/each}}
</ul>

<a href="/recipes">View our list of recipes</a>
<a href="/grains-list">Click here for list of grains</a>
<a href="/yeast-list">Click here for list of yeast</a>
<a href="/">HOME</a>