<ul>
{{#each beers}}
  <li><a href="/recipes/{{id}}">{{name}}</a> <em>({{style}})</em> - {{abv}}%</li>
{{/each}}
</ul>

<a href="/grains-list">Click here for list of grains</a>
<a href="/hops-list">Click here for list of hops</a>
<a href="/yeast-list">Click here for list of yeast</a>
<a href="/">HOME</a>