<ul>
{{#each yeast}}
  <li>{{brand}} - {{name}} <em>({{type}})</em></li>
{{/each}}
</ul>

<a href="/recipes">View our list of recipes</a>
<a href="/grains-list">Click here for list of grains</a>
<a href="/hops-list">Click here for list of hops</a>
<a href="/">HOME</a>